.nav1{
display: relative;
width: 0px;
height: 0px;
margin-left: 30%;
top: 150px;
cursor: pointer;
}
.nav2{
    display: relative;
    margin-left: 35%;
    /*margin-top: -290px;*/ 
    width: 0px;
    height: 0px;
    cursor: pointer;
}
.nav3{
    display: relative;
    margin-left: 40%;
    /*margin-top: -290px;*/ 
    width: 0px;
    height: 0px;
    cursor: pointer;
}
.nom{
    font-weight: bold;
    
}
ul {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    margin-top:250px;   
}
.a30 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
 
  
  .Lien1,.Lien2,.Lien3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .Lien1 a,.Lien2 a,.Lien3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .Lien1 a:hover {background-color: #23cec5}
  .Lien2 a:hover {background-color: #23cec5}
  .Lien3 a:hover {background-color: #23cec5}
  .nav1:hover .Lien1 {
    display: block;
  }
  .nav2:hover .Lien2 {
    display: block;
  }
  .nav3:hover .Lien3 {
    display: block;
  }
  .nav3:hover .a30 {
    background-color: #8e3e4b;
  }
  .nav2:hover .a30 {
    background-color: #8e3e4b;
  }
  .nav1:hover .a30 {
    background-color: #8e3e4b;
  }
 